.khung{
	margin: 0 auto;
	width: 1207px;
	height: 525px;
	background: red;

}
.BOX1{
	float: left;
	width: 100%;
	height: 72px;
	background: #33ccff;

}.BOX1 .anh{
	float: left;
	width: 227px;
	height: 72px;
	background: #fff;

}
.BOX1 .anh .IMG{
	width: 100%;
	height: 72px;

}

.menu ul{
	margin: 0px;
	padding: 0px;
}
.menu ul li{
  float: left;
  list-style-type: none;
  padding:  28px 25px 15px 25px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: arial;
}
..menu ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
}
.menu ul li a:hover{
	color: red;
}
.BOX12{
	margin: 0 auto;
	width: 1207px;
	height: 445px;
	background-image: url(https://www.ycp.edu/media/york-website/engineering-and-computer-science/civil/Engineer-CivilEngineerIntro-YCP1.jpg);
	background-size: 1207px 445px ;
	background-position:0;
	background-repeat: no-repeat;

}

.BOX12 .content{
    margin-top: 64px;
    margin-left: 84px;
    float: left;
    display: block;
    width: 480px;
    height: 225px;
    background: #0000ff42;
}
.content h2{
	float: left;
	margin:0;
	margin-left: 10px;
	display: block;
	font-size: 25px;
	color: #f7c80c;
	line-height: 50px;
	font-family: arial;
}
.content p{
	float: left;
    padding-left: 10px;
	margin: 0;
	display: block;
	font-size: 14px;
	font-family: arial;
	color: white;
	line-height: 20px;
}
.content a.read{
	margin-top: 20px;
	float: left;
	width: 90px;
	height: 35px;
	background: #f7c80c;
	border: 1px solid white;
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
	color: white;
	margin-left: 10px;
	line-height: 35px;
	padding-left: 10px;
}
.content a.read:hover{
	color: #f7c80c;
	background: white;
	border: 1px solid #f7c80c;
}
.BOX12 ul{
	list-style-type: none;
}
.BOX12 ul li.Next{
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	top: 227px;
    right: -1126px;
	background-image: url(https://image.flaticon.com/icons/svg/120/120893.svg);
	background-size: 45px 45px ;
	background-position:0;
	background-repeat: no-repeat;
}
.BOX12 ul li.Prev{
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	top: 167px;
    left: -49px;
	background-image: url(https://image.flaticon.com/icons/svg/120/120892.svg);
	background-size: 45px 45px ;
	background-position:0;
	background-repeat: no-repeat;
}
